html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* font classes */

.homeMadeApple {
    font-family: "Homemade Apple", cursive;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #FAEFE5;
}

/* flex classes */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* H E A D E R */

header {
    height: 100%;
}

nav ol {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -0.7%;
}

nav ol li {
    font-size: 2rem;
    margin: 2.6rem 2rem 0 2rem;
    padding-right: 4rem;
    letter-spacing: 0.3rem;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #E9E4E4;
    height: 7.5%;
    z-index: 10;
    border-bottom: 3px solid #B4BBC8;
}

a {
    text-decoration: none;
    color: black;
}

li::marker {
    color: rgb(220, 151, 32);
    font-family: "Inter", sans-serif;
}

.headerPhotoContainer {
    height: 100%;
    background-image: url('/assets/blueflower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 33%;
    transform: scale(0.9);
    border: 6px solid #B4BBC8;
}

.header-text {
    font-size: 2.8rem;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.3rem;
    text-shadow: 2px 3px 2px whitesmoke;
}

.header-myname {
    font-size: 6.4rem;
    color: rgb(220, 151, 32);
    text-shadow: 4px 3px 6px whitesmoke;
    margin: 0 auto;
}

.header-location {
    margin: 0 auto;
    margin-top: 2.8rem;
}

.scrollArrowContainer {
    margin-top: 5rem;
    transform: translate(-50%, -50%);
}

.scrollArrowContainer span {
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    border-bottom: 4px solid #93ac9d;
    border-right: 4px solid #8b8f74;
    transform: rotate(45deg);
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* A B O U T : added padding to about side text to see if it affected num scroll. need to check scroll for num too tbh*/
.about {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-size: 3rem 3rem;
    background-color: white;
    background-image: radial-gradient(circle at 0.2rem 0.2rem, #C0D3E4 0.2rem, transparent 0);
}

.solid-side-nav {
    width: 10%;
    height: 100%;
    position: relative;
}

.about-sidenav {
    background-color: #b0c4b1;
    border-right: 3px solid #93ac9d;
}

.navname>ul {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

.sidenav-name,
.sidenav-name2 {
    font-size: 3.3rem;
    letter-spacing: 0.3rem;
    transform: rotate(270deg);
    transform-origin: 0 0;
    margin-left: -2rem;
    margin-top: 72rem;
    text-align: center;
    padding-left: 30rem;
}

.sidenav-num,
.sidenav-num2 {
    margin-left: 2.8rem;
    margin-top: -42rem;
    color: white;
    font-size: 3.6rem;
    position: sticky;
    top: 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
    background-color: #b0c4b1;
    width: 70%;
    height: 78%;
    margin-left: 10%;
    margin-top: 9rem;
}

.about-bar-top {
    height: 1%;
    background-color: #93ac9d;
}

.about-bar-bottom {
    height: 15%;
    position: relative;
    bottom: 0;
}

.about-row1 {
    display: flex;
    justify-content: center;
    height: 38%;
    width: 100%;
}

.selfie {
    position: relative;
    top: 5%;
    border-radius: 50%;
    height: 17rem;
    width: 16rem;
    border: 3px solid #E9E4E4;
    padding: 1rem;
}

.selfie-container {
    display: flex;
    flex-basis: 1;
}

.active-button {
    background-color: #b0c4b1;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: relative;
    top: 11rem;
    left: -4rem;
}

.inner-active-button {
    background-color: #22753E;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: relative;
    top: 0.8rem;
    left: 1rem;
}

.about-names {
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-names h2,
#username {
    margin: 0;
}

.about-names h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    margin-top: -3rem;
}

#username {
    font-family: "Inter", sans-serif;
    color: #22753E;
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
}

.about-row2 {
    height: 45%;
    width: 100%;
}

.about-row2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    width: 85%;
    margin: 0 auto;
    margin-left: 9%;
}

.about-row2 p+p {
    margin-top: 1.2rem;
    padding-top: 0.3rem;
}

.about-bar-bottom {
    display: flex;
    align-items: center;
    border-radius: 2%;
    border-top: 3px solid white;
}

.about-row3 {
    margin: 0 auto;
}

.fa,
.iconsax {
    font-size: 3rem;
    color: white;
    border: 2px solid #93ac9d;
    border-radius: 50%;
    padding: 0.6rem;
    background-color: #93ac9d;
    color: #22753E;
}

.fa-linkedin-in {
    color: rgb(113, 145, 241);
    background-color: rgb(154, 186, 193);
    border: 2px solid rgb(154, 186, 193);
}

.iconsax {
    color: rgb(220, 151, 32);
    background-color: rgb(183, 178, 167);
    border: 2px solid rgb(183, 178, 167);
}

.fa-linkedin-in,
.iconsax {
    margin-left: 1rem;
}

/* P R O J E C T S */
.projects {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(154, 186, 193);
}

.projects-sidenav {
    background-color: rgb(92, 124, 154);
    border-right: 3px solid rgb(58, 81, 101);
    min-height: inherit;
}

.project-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.project-description {
    width: 72%;
    margin: 0 auto;
    padding-top: 0.9rem;
}

.project-container {
    text-align: center;
}

.project-visual {
    height: 40vh;
}

.project-container h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    color: rgb(92, 124, 154);
}

.project-container span {
    font-weight: bold;
    padding-bottom: 2rem;
}

.project-container p {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 90%;
    margin: 0 auto;
}

.project-container button {
    height: 3.8rem;
    width: 9rem;
    font-size: 1.8rem;
}

/* C O N T A C T */
.contact {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: 3rem 3rem;
    background-image: radial-gradient(circle at 0.2rem 0.2rem, #C0D3E4 0.2rem, transparent 0);
    overflow: hidden;
}

.contact-sidenav {
    background-color: rgb(232, 184, 101);
    border-right: 3px solid rgb(220, 151, 32);
}

.contact .navname {
    margin-top: -7rem;
}

.contact-text {
    display: flex;
    width: 75%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(232, 184, 101);
    border-radius: 2rem;
    border: 6px double rgb(220, 151, 32);
}

.contact-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    color: rgb(180, 121, 28);
}

.contact-text p {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    width: 85%;
    margin-top: -1rem;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    padding: 0.8rem 1.8rem;
    margin-top: 5%;
    border-radius: 2rem;
    background-color: rgb(220, 151, 32);
    color: white;
}

button:hover {
    cursor: pointer;
}

/* M E D I A  Q U E R I E S */