html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100%;
}

/* body {
    background-size: 4rem 4rem;
    background-color: #EFF4F8;
    background-image: radial-gradient(circle at 0.8rem 0.8rem, #C0D3E4 0.2rem, transparent 0);
} */

/* H E A D E R */

header {
    height: 100vh;
    width: 100vw;
    background-color: #E9E4E4;
    margin-top: -1rem;
}

nav ol {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 7rem;
    margin-bottom: 1rem;
}

nav ol li {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin: 2rem 2rem 0 2rem;
    padding-right: 4rem;
    letter-spacing: 0.3rem;
}

a {
    text-decoration: none;
    color: rgb(109, 105, 105);
}

li::marker {
    color: white;
    font-family: "Inter", sans-serif;
}

.headerPhotoContainer {
    height: 90vh;
    width: 98vw;
    margin-top: -5.5rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('wildflowers.jpg');
    background-repeat: no-repeat;
    background-position: 33%;
    transform: scale(0.9);
    border: 8px solid #B4BBC8;
    background-color: #e9e4e4;
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    color: #8b8f74;
    position: relative;
    top: 25%;
}

.header-myname {
    font-family: "Homemade Apple", cursive;
    font-size: 6rem;
    color: #93ac9d;
    background-color: rgb(255, 247, 247);
    margin: 0 auto;
    margin-top: -0.8rem;
}

.header-location {
    margin: 0 auto;
    margin-top: 2.8rem;
    width: 50%;
}

.sparkle {
    position: absolute;
    top: -4rem;
    left: -8.5rem;
    transform: rotate(28deg);
}

.scrollArrowContainer {
    position: relative;
    top: 28vh;
    left: 48vw;
    transform: translate(-50%, -50%);
}

.scrollArrowContainer span {
    display: block;
    width: 3rem;
    height: 3rem;
    border-bottom: 3px solid #93ac9d;
    border-right: 3px solid #8b8f74;
    transform: rotate(45deg);
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* A B O U T : added padding to about side text to see if it affected num scroll. need to check scroll for num too tbh*/
.about {
    height: 83vh;
    width: 100vw;
    background-size: 3rem 3rem;
    /* background-color: #EFF4F8; */
    background-color: white;
    background-image: radial-gradient(circle at 0.2rem 0.2rem, #C0D3E4 0.2rem, transparent 0);
    display: flex;
    flex-direction: row;
}

.solid-side-nav {
    background-color: whitesmoke;
    /* height: 64.7rem; */
    width: 12vw;
    position: relative;
}

.about-navname>ul {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

.sidenav-name {
    font-size: 3.3rem;
    letter-spacing: 0.3rem;
    transform: rotate(270deg);
    transform-origin: 0 0;
    margin-left: -1rem;
    margin-top: 55rem;
    text-align: center;
    padding-left: 30rem;
    /* background-color: pink; */
}

.sidenav-num {
    margin-left: 4.9rem;
    margin-top: -42rem;
    font-size: 3.6rem;
    color: #B4BBC8;
    position: sticky;
    top: 10px;
}

.selfie {
    position: relative;
    top: 8.5rem;
    left: 3.5rem;
    border-radius: 50%;
    height: 24rem;
    width: 24rem;
    border: 3px solid #E9E4E4;
    background-color: white;
    padding: 1.2rem;
}

.about-LR {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 58vh;
    width: 69vw;
    margin-left: 12.8rem;
    margin-top: 9rem;
    border-radius: 1.4%;
}

.about-R {
    margin-left: 9.7rem;
    margin-top: 5rem;
}

.about-R h2 {
    font-family: "Poppins", sans-serif;
    margin-top: -0.4rem;
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
}

.fa-brands {
    font-size: 2.5rem;
    color: #B4BBC8;
    padding-right: 2.2rem;
    position: relative;
    top: -6rem;
    left: 14rem;
}

.username {
    font-family: "Inter", sans-serif;
    color: #93ac9d;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: -4rem;
}

.about-R hr {
    width: 82%;
    margin-left: 0rem;
    border: 2px solid #E9E4E4;
}

.about-R p {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 2.5rem;
    width: 88%;
    margin-top: 3rem;
}

/* P R O J E C T S */
.projects {
    height: 50vh;
    width: 100vw;
    background-color: #E9E4E4;
}

.projects-sidenav {
    background-color: whitesmoke;
    height: 100%;
    width: 12vw;
    position: relative;
    border-top: 2px solid green;
}

/* M E D I A  Q U E R I E S */

@media (min-width: 369px) and (max-width: 645px) {
    .headerPhotoContainer {
        background-position: 56% 54%;
    }

    nav ol {
        height: 7rem;
        width: 98vw;
    }

    nav ol li {
        font-size: 1.4rem;
        margin: 1.3rem 0.5rem 0 1.5rem;
        padding-right: 4rem;
        letter-spacing: 0.3rem;
        text-align: center;
    }

    .header-text {
        letter-spacing: 0.2rem;
        top: 18%;
        font-size: 2rem;
    }

    .header-myname {
        font-size: 4.2rem;
        background-color: rgb(255, 247, 247);
        margin: 0 auto;
        margin-top: -0.8rem;
    }

    .header-location {
        width: 89%;
    }

    .scrollArrowContainer {
        left: 44vw;
    }

    .sparkle {
        position: absolute;
        top: -17rem;
        left: -17rem;
        transform: rotate(60deg) scale(0.6);
    }
}

@media (min-width: 646px) and (max-width: 758px) {
    nav ol li {
        font-size: 1.8rem;
        margin: 1.5rem 0.5rem 0 1.5rem;
        padding-right: 4rem;
        letter-spacing: 0.3rem;
        color: rgb(109, 105, 105);
        text-align: center;
    }

    .headerPhotoContainer {
        background-position: 58% 50%;
    }

    .header-text {
        letter-spacing: 0.2rem;
        top: 18%;
        font-size: 2.5rem;
    }

    .header-myname {
        font-size: 5.2rem;
        background-color: rgb(255, 247, 247);
        margin: 0 auto;
        margin-top: -0.8rem;
    }

    .header-location {
        width: 88%;
    }

    .scrollArrowContainer {
        left: 47vw;
    }

    .sparkle {
        position: absolute;
        top: -15rem;
        left: -8rem;
        transform: rotate(58deg) scale(0.75);
    }
}

@media (min-width: 759px) and (max-width: 860px) {

    nav ol li {
        font-size: 2rem;
        margin: 1rem 2rem 0 2rem;
        padding-right: 4rem;
        letter-spacing: 0.3rem;

    }

    .headerPhotoContainer {
        margin-top: -5.5rem;
        background-position: 50% 52%;
        transform: scale(0.9);
    }

    .header-text {
        font-size: 2.4rem;
        top: 18%;
    }

    .header-myname {
        font-size: 5.7rem;
        margin-top: -0.2rem;
    }

    .header-location {
        width: 65%;
    }

    .sparkle {
        top: -14rem;
        left: -8rem;
        transform: rotate(50deg) scale(0.75);
    }

    .scrollArrowContainer {
        top: 24vh;
        left: 45vw;
    }

    .scrollArrowContainer span {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 861px) and (max-width: 959px) {
    header {
        height: 100vh;
        width: 100vw;
        margin-top: -1rem;
    }

    nav ol {
        height: 7rem;
        margin-bottom: 1rem;
    }

    nav ol li {
        font-size: 2rem;
        margin: 2rem 2rem 0 2rem;
        padding-right: 4rem;
        letter-spacing: 0.3rem;
    }

    .headerPhotoContainer {
        height: 90vh;
        width: 98vw;
        margin-top: -5.5rem;
        margin-left: auto;
        margin-right: auto;
        background-position: 44%;
    }

    .header-text {
        font-size: 2.8rem;
        letter-spacing: 0.3rem;
        top: 22%;
    }

    .header-myname {
        font-size: 6rem;
        margin: 0 auto;
        margin-top: -0.8rem;
    }

    .header-location {
        margin: 0 auto;
        margin-top: 2.8rem;
        width: 65%;
    }

    .sparkle {
        top: -8rem;
        left: -11rem;
        transform: rotate(28deg) scale(0.9);
    }

    .scrollArrowContainer {
        top: 28vh;
        left: 48vw;
        transform: translate(-50%, -50%);
    }

    .scrollArrowContainer span {
        width: 3rem;
        height: 3rem;
        transform: rotate(45deg);
    }
}